.visually-hidden{
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.brend__color{
    color: var(--brend-color);
}
.text-bold{
    font-weight: 600;
}
.section{
    padding: 48px 0;
}
.main{
    background-image: url('../image/main_bg.png');
    background-position: center 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../image/main_bg@2.jpg');
    }
}
