:root{
    --brend-color: #2B7FFF;
    --text-color-dark: #011C44;
    --text-color-light: #fff;
    --poliyc-color: #747272;
    --grey-color: #4A4A4A;

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;